@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  scroll-behavior: smooth;
  outline: none;
}
.card:hover .sec-card {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.079);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #FF0000 #EBEBEB;
}*/

/* Chrome, Edge and Safari */
.c-scroll-bar::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.c-scroll-bar::-webkit-scrollbar-track {
  border-radius: 19px;
  background-color: #ebebeb;
}

.c-scroll-bar::-webkit-scrollbar-track:hover {
  background-color: #adc2b9;
}

.c-scroll-bar::-webkit-scrollbar-track:active {
  background-color: #c2c2c2;
}

.c-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #ff0000;
}

.c-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

.c-scroll-bar::-webkit-scrollbar-thumb:active {
  background-color: #ce0000;
}

.spinner {
  animation: spinning 0.5s linear infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.c-color {
  /* background: linear-gradient(80deg, #c4e4ff, white); */
}
